# iBold/BOLD Systems sequence data ingestion script

See https://www.boldsystems.org/index.php/Public_BINSearch?query=Australia for details on data
See https://v3.boldsystems.org/index.php/resources/api?type=webservices#combined for API docs

In [118]:
import pandas as pd
import pandas_read_xml as pdx
from pandas_read_xml import flatten, fully_flatten, auto_separate_tables
taxon = 'all'

df = pdx.read_xml(f"/data/arga-data/bold-australia-{taxon}.xml", ['bold_records'], encoding="ISO-8859-1")
# df = pd.read_xml(f"http://v3.boldsystems.org/index.php/API_Public/combined?format=xml&geo=Australia&taxon={taxon}", dtype={'specimen_identifiers': object}) 
# df = pd.read_table("../data/bold_data.tsv", dtype='object', parse_dates=['collectiondate']) 
# columns:
# processid	sampleid	recordID	catalognum	fieldnum	institution_storing	bin_uri	phylum_taxID	phylum_name	
# class_taxID	class_name	order_taxID	order_name	family_taxID	family_name	subfamily_taxID	subfamily_name	
# genus_taxID	genus_name	species_taxID	species_name	subspecies_taxID	subspecies_name	identification_provided_by	
# voucher_type	tissue_type	collectors	collectiondate	lifestage	sex	reproduction	extrainfo	notes	lat	lon	
# coord_source	coord_accuracy	country	province	region	exactsite
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   @xsi:noNamespaceSchemaLocation  1 non-null      object
 1   @xmlns:xsi                      1 non-null      object
 2   record                          1 non-null      object
dtypes: object(3)
memory usage: 152.0+ bytes

,@xsi:noNamespaceSchemaLocation,@xmlns:xsi,record
0,http://v3.boldsystems.org/schemas/BOLDPublic_r...,http://www.w3.org/2001/XMLSchema-instance,"[{'record_id': '11329121', 'processid': 'AACTA..."

In [119]:
df = df.pipe(flatten)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395935 entries, 0 to 395934
Data columns (total 3 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   @xsi:noNamespaceSchemaLocation  395935 non-null  object
 1   @xmlns:xsi                      395935 non-null  object
 2   record                          395935 non-null  object
dtypes: object(3)
memory usage: 9.1+ MB

In [120]:
# df = df.pipe(flatten)
df = df.drop('@xsi:noNamespaceSchemaLocation', axis=1)
df = df.drop('@xmlns:xsi', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395935 entries, 0 to 395934
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   record  395935 non-null  object
dtypes: object(1)
memory usage: 3.0+ MB

In [121]:
df = df.pipe(fully_flatten)
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631158 entries, 0 to 631157
Data columns (total 58 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   record|bin_uri                                      505231 non-null  object
 1   record|collection_event|collectiondate              585747 non-null  object
 2   record|collection_event|collectors                  572193 non-null  object
 3   record|collection_event|coordinates|coord_accuracy  2109 non-null    object
 4   record|collection_event|coordinates|coord_source    160078 non-null  object
 5   record|collection_event|coordinates|lat             578822 non-null  object
 6   record|collection_event|coordinates|lon             578812 non-null  object
 7   record|collection_event|country                     631158 non-null  object
 8   record|collection_event|exactsite                   411363 non-null  object
 9   record|collection_event|province                    588826 non-null  object
 10  record|collection_event|region                      214006 non-null  object
 11  record|notes                                        140583 non-null  object
 12  record|processid                                    631158 non-null  object
 13  record|record_id                                    631158 non-null  object
 14  record|sequences|sequence|genbank_accession         225437 non-null  object
 15  record|sequences|sequence|markercode                589012 non-null  object
 16  record|sequences|sequence|nucleotides               589012 non-null  object
 17  record|sequences|sequence|sequenceID                589012 non-null  object
 18  record|specimen_details|extrainfo                   150765 non-null  object
 19  record|specimen_details|lifestage                   410869 non-null  object
 20  record|specimen_details|reproduction                275608 non-null  object
 21  record|specimen_details|sex                         60911 non-null   object
 22  record|specimen_details|tissue_type                 162337 non-null  object
 23  record|specimen_details|voucher_desc                0 non-null       object
 24  record|specimen_details|voucher_type                194081 non-null  object
 25  record|specimen_identifiers|catalognum              501366 non-null  object
 26  record|specimen_identifiers|fieldnum                484440 non-null  object
 27  record|specimen_identifiers|institution_storing     631124 non-null  object
 28  record|specimen_identifiers|sampleid                631158 non-null  object
 29  record|specimen_imagery|media|caption               0 non-null       object
 30  record|specimen_imagery|media|copyright             337243 non-null  object
 31  record|specimen_imagery|media|image_file            337243 non-null  object
 32  record|specimen_imagery|media|mediaID               337243 non-null  object
 33  record|specimen_imagery|media|metatags              0 non-null       object
 34  record|taxonomy|class|taxon|name                    630742 non-null  object
 35  record|taxonomy|class|taxon|taxID                   630742 non-null  object
 36  record|taxonomy|family|taxon|name                   500989 non-null  object
 37  record|taxonomy|family|taxon|taxID                  500989 non-null  object
 38  record|taxonomy|genus|taxon|name                    367267 non-null  object
 39  record|taxonomy|genus|taxon|taxID                   367267 non-null  object
 40  record|taxonomy|identification_provided_by          443093 non-null  object
 41  record|taxonomy|order|taxon|name                    626108 non-null  object
 42  record|taxonomy|order|taxon|taxID                   626108 non-null  object
 43  record|taxonomy|phylum|taxon|name                   631158 non-null  object
 44  record|taxonomy|phylum|taxon|taxID                  631158 non-null  object
 45  record|taxonomy|species|taxon|name                  324333 non-null  object
 46  record|taxonomy|species|taxon|taxID                 324333 non-null  object
 47  record|taxonomy|subfamily|taxon|name                314809 non-null  object
 48  record|taxonomy|subfamily|taxon|taxID               314809 non-null  object
 49  record|taxonomy|subspecies|taxon|name               1453 non-null    object
 50  record|taxonomy|subspecies|taxon|taxID              1453 non-null    object
 51  record|tracefiles|read|direction                    497204 non-null  object
 52  record|tracefiles|read|markercode                   498269 non-null  object
 53  record|tracefiles|read|read_id                      498269 non-null  object
 54  record|tracefiles|read|run_date                     498269 non-null  object
 55  record|tracefiles|read|seq_primer                   497227 non-null  object
 56  record|tracefiles|read|sequencing_center            498262 non-null  object
 57  record|tracefiles|read|trace_link                   498269 non-null  object
dtypes: object(58)
memory usage: 279.3+ MB

,record|bin_uri,record|collection_event|collectiondate,record|collection_event|collectors,record|collection_event|coordinates|coord_accuracy,record|collection_event|coordinates|coord_source,record|collection_event|coordinates|lat,record|collection_event|coordinates|lon,record|collection_event|country,record|collection_event|exactsite,record|collection_event|province,...,record|taxonomy|subfamily|taxon|taxID,record|taxonomy|subspecies|taxon|name,record|taxonomy|subspecies|taxon|taxID,record|tracefiles|read|direction,record|tracefiles|read|markercode,record|tracefiles|read|read_id,record|tracefiles|read|run_date,record|tracefiles|read|seq_primer,record|tracefiles|read|sequencing_center,record|tracefiles|read|trace_link
0,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,6414,Theretra nessus nessus,774675,R,COI-5P,831740,2008-01-03T01:14:20,LepR1,Biodiversity Institute of Ontario,http://trace.boldsystems.org/traceIO/bold.org/...
1,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,6414,Theretra nessus nessus,774675,F,COI-5P,831618,2007-12-20T19:53:02,LepF1,Biodiversity Institute of Ontario,http://trace.boldsystems.org/traceIO/bold.org/...
2,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,6414,Theretra nessus nessus,774675,F,COI-5P,698383,2007-07-20T12:45:30,LepF1,Biodiversity Institute of Ontario,http://trace.boldsystems.org/traceIO/bold.org/...
3,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,6414,Theretra nessus nessus,774675,R,COI-5P,698384,2007-07-20T14:16:15,LepR1,Biodiversity Institute of Ontario,http://trace.boldsystems.org/traceIO/bold.org/...
4,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,6414,Theretra nessus nessus,774675,R,COI-5P,831740,2008-01-03T01:14:20,LepR1,Biodiversity Institute of Ontario,http://trace.boldsystems.org/traceIO/bold.org/...

In [122]:
# Cleanup field names and map to DwC where possible
field_mapping = {
    # DwC fields
    'record|collection_event|collectiondate': 'eventDate',
    'record|collection_event|collectors': 'recordedBy',
    'record|collection_event|coordinates|coord_accuracy':'coordinatePrecision',
    'record|collection_event|coordinates|coord_source':'georeferenceSources',
    'record|collection_event|coordinates|lat':'decimalLatitude',
    'record|collection_event|coordinates|lon':'decimalLongitude',
    'record|collection_event|country':'country',
    'record|collection_event|exactsite':'locationRemarks',
    'record|collection_event|province':'stateProvince',
    'record|collection_event|region':'locality',
    'record|notes':'fieldNotes', # eventRemarks
    'record|processid':'recordNumber',
    'record|record_id':'occurrenceID',
    'record|bin_uri':'bold_bin_uri',
    # use df.apply to merge following fields into associatedSequences
    # 'record|sequences|sequence|genbank_accession':'ncbi_accession',
    # 'record|sequences|sequence|sequenceID':'',
    # 'record|sequences|sequence|nucleotides':'',
    'record|specimen_details|extrainfo':'identificationRemarks',
    'record|specimen_details|lifestage':'lifeStage',
    'record|specimen_details|reproduction':'bold_reproduction',
    'record|specimen_details|sex':'sex',
    'record|specimen_details|voucher_desc':'dispositionProperty',
    'record|specimen_details|voucher_type':'bold_voucher_type',
    'record|specimen_details|tissue_type': 'preparations',
    'record|specimen_identifiers|catalognum':'otherCatalogNumbers',
    'record|specimen_identifiers|fieldnum':'fieldNumber',
    'record|specimen_identifiers|institution_storing':'ownerInstitutionCode',
    'record|specimen_identifiers|sampleid':'materialSampleID',
    # use df.apply to merge following fields into associatedMedia 
    # specimen_imagery|media|caption 
    # specimen_imagery|media|copyright  
    # specimen_imagery|media|image_file         
    # specimen_imagery|media|mediaID
    # specimen_imagery|media|metatags
    'record|taxonomy|identification_provided_by':'identifiedBy',
    'record|taxonomy|class|taxon|name':'class',
    'record|taxonomy|class|taxon|taxID':'classID',
    'record|taxonomy|family|taxon|name':'family',
    'record|taxonomy|family|taxon|taxID':'familyID',
    'record|taxonomy|genus|taxon|name':'genus',
    'record|taxonomy|genus|taxon|taxID':'genusID',
    'record|taxonomy|order|taxon|name':'order',
    'record|taxonomy|order|taxon|taxID':'orderID',
    'record|taxonomy|phylum|taxon|name':'phylum',
    'record|taxonomy|phylum|taxon|taxID':'phylumID',
    'record|taxonomy|species|taxon|name':'species',
    'record|taxonomy|species|taxon|taxID':'speciesID',
    'record|taxonomy|subspecies|taxon|name':'subspecies',
    'record|taxonomy|subspecies|taxon|taxID':'subspeciesID',
    # use df.apply to merge following fields into associatedMedia 
    # record|tracefiles|read|*
}

# keep copies of DwC matched columns (just in case)
df['scientificName'] = df['record|taxonomy|species|taxon|name'] 

# do rename
df.rename(
  columns = field_mapping, 
  inplace = True
)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631158 entries, 0 to 631157
Data columns (total 59 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   bold_bin_uri                                 505231 non-null  object
 1   eventDate                                    585747 non-null  object
 2   recordedBy                                   572193 non-null  object
 3   coordinatePrecision                          2109 non-null    object
 4   georeferenceSources                          160078 non-null  object
 5   decimalLatitude                              578822 non-null  object
 6   decimalLongitude                             578812 non-null  object
 7   country                                      631158 non-null  object
 8   locationRemarks                              411363 non-null  object
 9   stateProvince                                588826 non-null  object
 10  locality                                     214006 non-null  object
 11  fieldNotes                                   140583 non-null  object
 12  recordNumber                                 631158 non-null  object
 13  occurrenceID                                 631158 non-null  object
 14  record|sequences|sequence|genbank_accession  225437 non-null  object
 15  record|sequences|sequence|markercode         589012 non-null  object
 16  record|sequences|sequence|nucleotides        589012 non-null  object
 17  record|sequences|sequence|sequenceID         589012 non-null  object
 18  identificationRemarks                        150765 non-null  object
 19  lifeStage                                    410869 non-null  object
 20  bold_reproduction                            275608 non-null  object
 21  sex                                          60911 non-null   object
 22  preparations                                 162337 non-null  object
 23  dispositionProperty                          0 non-null       object
 24  bold_voucher_type                            194081 non-null  object
 25  otherCatalogNumbers                          501366 non-null  object
 26  fieldNumber                                  484440 non-null  object
 27  ownerInstitutionCode                         631124 non-null  object
 28  materialSampleID                             631158 non-null  object
 29  record|specimen_imagery|media|caption        0 non-null       object
 30  record|specimen_imagery|media|copyright      337243 non-null  object
 31  record|specimen_imagery|media|image_file     337243 non-null  object
 32  record|specimen_imagery|media|mediaID        337243 non-null  object
 33  record|specimen_imagery|media|metatags       0 non-null       object
 34  class                                        630742 non-null  object
 35  classID                                      630742 non-null  object
 36  family                                       500989 non-null  object
 37  familyID                                     500989 non-null  object
 38  genus                                        367267 non-null  object
 39  genusID                                      367267 non-null  object
 40  identifiedBy                                 443093 non-null  object
 41  order                                        626108 non-null  object
 42  orderID                                      626108 non-null  object
 43  phylum                                       631158 non-null  object
 44  phylumID                                     631158 non-null  object
 45  species                                      324333 non-null  object
 46  speciesID                                    324333 non-null  object
 47  record|taxonomy|subfamily|taxon|name         314809 non-null  object
 48  record|taxonomy|subfamily|taxon|taxID        314809 non-null  object
 49  subspecies                                   1453 non-null    object
 50  subspeciesID                                 1453 non-null    object
 51  record|tracefiles|read|direction             497204 non-null  object
 52  record|tracefiles|read|markercode            498269 non-null  object
 53  record|tracefiles|read|read_id               498269 non-null  object
 54  record|tracefiles|read|run_date              498269 non-null  object
 55  record|tracefiles|read|seq_primer            497227 non-null  object
 56  record|tracefiles|read|sequencing_center     498262 non-null  object
 57  record|tracefiles|read|trace_link            498269 non-null  object
 58  scientificName                               324333 non-null  object
dtypes: object(59)
memory usage: 284.1+ MB

,bold_bin_uri,eventDate,recordedBy,coordinatePrecision,georeferenceSources,decimalLatitude,decimalLongitude,country,locationRemarks,stateProvince,...,subspecies,subspeciesID,record|tracefiles|read|direction,record|tracefiles|read|markercode,record|tracefiles|read|read_id,record|tracefiles|read|run_date,record|tracefiles|read|seq_primer,record|tracefiles|read|sequencing_center,record|tracefiles|read|trace_link,scientificName
0,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,Theretra nessus nessus,774675,R,COI-5P,831740,2008-01-03T01:14:20,LepR1,Biodiversity Institute of Ontario,http://trace.boldsystems.org/traceIO/bold.org/...,Theretra nessus
1,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,Theretra nessus nessus,774675,F,COI-5P,831618,2007-12-20T19:53:02,LepF1,Biodiversity Institute of Ontario,http://trace.boldsystems.org/traceIO/bold.org/...,Theretra nessus
2,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,Theretra nessus nessus,774675,F,COI-5P,698383,2007-07-20T12:45:30,LepF1,Biodiversity Institute of Ontario,http://trace.boldsystems.org/traceIO/bold.org/...,Theretra nessus
3,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,Theretra nessus nessus,774675,R,COI-5P,698384,2007-07-20T14:16:15,LepR1,Biodiversity Institute of Ontario,http://trace.boldsystems.org/traceIO/bold.org/...,Theretra nessus
4,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,Theretra nessus nessus,774675,R,COI-5P,831740,2008-01-03T01:14:20,LepR1,Biodiversity Institute of Ontario,http://trace.boldsystems.org/traceIO/bold.org/...,Theretra nessus

In [123]:
# process sequences data
sequenceFields = {
  'sequenceID': 'record|sequences|sequence|sequenceID',
  'genbank_accession': 'record|sequences|sequence|genbank_accession',
  'markercode': 'record|sequences|sequence|markercode',
  'nucleotides': 'record|sequences|sequence|nucleotides',
}

def addAssociatedeSequenceData(row):
  sequenceData = {}
  for sd in sequenceFields:
    sequenceData[sd] = row[sequenceFields[sd]]
  return [sequenceData]

df['associatedSequences'] = df.apply(addAssociatedeSequenceData, axis=1)
df.drop(sequenceFields.values(), axis=1, inplace=True)

# process images data
imagesFields = {
  'mediaID': 'record|specimen_imagery|media|mediaID',
  'image_file': 'record|specimen_imagery|media|image_file',
  'metatags': 'record|specimen_imagery|media|metatags',
  'copyright': 'record|specimen_imagery|media|copyright',
  'caption': 'record|specimen_imagery|media|caption',
}

def associatedImageData(row):
  imageData = {}
  for id in imagesFields:
    imageData[id] = row[imagesFields[id]]
  return [imageData]

df['associatedMedia'] = df.apply(associatedImageData, axis=1)
df.drop(imagesFields.values(), axis=1, inplace=True)

# process traces data
tracesFields = {
  'direction': 'record|tracefiles|read|direction',
  'read_id': 'record|tracefiles|read|read_id',
  'markercode': 'record|tracefiles|read|markercode',
  'run_date': 'record|tracefiles|read|run_date',
  'seq_primer': 'record|tracefiles|read|seq_primer',
  'sequencing_center': 'record|tracefiles|read|sequencing_center',
  'trace_link': 'record|tracefiles|read|trace_link',
}

def addTracesData(row):
  tdata = {}
  for tf in tracesFields:
    tdata[tf] = row[tracesFields[tf]]
  return [tdata]

df['bold_tracefiles_read'] = df.apply(addTracesData, axis=1)
df.drop(tracesFields.values(), axis=1, inplace=True)
  
df.drop(['record|taxonomy|subfamily|taxon|name','record|taxonomy|subfamily|taxon|taxID'], axis=1, inplace=True)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631158 entries, 0 to 631157
Data columns (total 44 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   bold_bin_uri           505231 non-null  object
 1   eventDate              585747 non-null  object
 2   recordedBy             572193 non-null  object
 3   coordinatePrecision    2109 non-null    object
 4   georeferenceSources    160078 non-null  object
 5   decimalLatitude        578822 non-null  object
 6   decimalLongitude       578812 non-null  object
 7   country                631158 non-null  object
 8   locationRemarks        411363 non-null  object
 9   stateProvince          588826 non-null  object
 10  locality               214006 non-null  object
 11  fieldNotes             140583 non-null  object
 12  recordNumber           631158 non-null  object
 13  occurrenceID           631158 non-null  object
 14  identificationRemarks  150765 non-null  object
 15  lifeStage              410869 non-null  object
 16  bold_reproduction      275608 non-null  object
 17  sex                    60911 non-null   object
 18  preparations           162337 non-null  object
 19  dispositionProperty    0 non-null       object
 20  bold_voucher_type      194081 non-null  object
 21  otherCatalogNumbers    501366 non-null  object
 22  fieldNumber            484440 non-null  object
 23  ownerInstitutionCode   631124 non-null  object
 24  materialSampleID       631158 non-null  object
 25  class                  630742 non-null  object
 26  classID                630742 non-null  object
 27  family                 500989 non-null  object
 28  familyID               500989 non-null  object
 29  genus                  367267 non-null  object
 30  genusID                367267 non-null  object
 31  identifiedBy           443093 non-null  object
 32  order                  626108 non-null  object
 33  orderID                626108 non-null  object
 34  phylum                 631158 non-null  object
 35  phylumID               631158 non-null  object
 36  species                324333 non-null  object
 37  speciesID              324333 non-null  object
 38  subspecies             1453 non-null    object
 39  subspeciesID           1453 non-null    object
 40  scientificName         324333 non-null  object
 41  associatedSequences    631158 non-null  object
 42  associatedMedia        631158 non-null  object
 43  bold_tracefiles_read   631158 non-null  object
dtypes: object(44)
memory usage: 211.9+ MB

,bold_bin_uri,eventDate,recordedBy,coordinatePrecision,georeferenceSources,decimalLatitude,decimalLongitude,country,locationRemarks,stateProvince,...,phylum,phylumID,species,speciesID,subspecies,subspeciesID,scientificName,associatedSequences,associatedMedia,bold_tracefiles_read
0,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,Arthropoda,20,Theretra nessus,20312,Theretra nessus nessus,774675,Theretra nessus,"[{'sequenceID': '2737215', 'genbank_accession'...","[{'mediaID': '202004', 'image_file': 'http://v...","[{'direction': 'R', 'read_id': '831740', 'mark..."
1,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,Arthropoda,20,Theretra nessus,20312,Theretra nessus nessus,774675,Theretra nessus,"[{'sequenceID': '2737215', 'genbank_accession'...","[{'mediaID': '202004', 'image_file': 'http://v...","[{'direction': 'F', 'read_id': '831618', 'mark..."
2,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,Arthropoda,20,Theretra nessus,20312,Theretra nessus nessus,774675,Theretra nessus,"[{'sequenceID': '2737215', 'genbank_accession'...","[{'mediaID': '202004', 'image_file': 'http://v...","[{'direction': 'F', 'read_id': '698383', 'mark..."
3,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,Arthropoda,20,Theretra nessus,20312,Theretra nessus nessus,774675,Theretra nessus,"[{'sequenceID': '2737215', 'genbank_accession'...","[{'mediaID': '202004', 'image_file': 'http://v...","[{'direction': 'R', 'read_id': '698384', 'mark..."
4,BOLD:AAB3023,2007-01-08,U. Buchsbaum & Mei-Yu Chen,None,None,-17.44,145.863,Australia,"Wooroonooran NP, Josephine Falls",Queensland,...,Arthropoda,20,Theretra nessus,20312,Theretra nessus nessus,774675,Theretra nessus,"[{'sequenceID': '2737215', 'genbank_accession'...","[{'mediaID': '711483', 'image_file': 'http://v...","[{'direction': 'R', 'read_id': '831740', 'mark..."

In [124]:
# Remove duplicates (array values in some fields) 
# TODO parse these properly into an array as per DwC spec for associatedSequences and associatedMedia
df = df.drop_duplicates(subset=['occurrenceID'],keep='first')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388090 entries, 0 to 631157
Data columns (total 44 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   bold_bin_uri           297091 non-null  object
 1   eventDate              352774 non-null  object
 2   recordedBy             337796 non-null  object
 3   coordinatePrecision    660 non-null     object
 4   georeferenceSources    131824 non-null  object
 5   decimalLatitude        346802 non-null  object
 6   decimalLongitude       346795 non-null  object
 7   country                388090 non-null  object
 8   locationRemarks        247233 non-null  object
 9   stateProvince          350514 non-null  object
 10  locality               159518 non-null  object
 11  fieldNotes             88882 non-null   object
 12  recordNumber           388090 non-null  object
 13  occurrenceID           388090 non-null  object
 14  identificationRemarks  93879 non-null   object
 15  lifeStage              235547 non-null  object
 16  bold_reproduction      122867 non-null  object
 17  sex                    26051 non-null   object
 18  preparations           156858 non-null  object
 19  dispositionProperty    0 non-null       object
 20  bold_voucher_type      177785 non-null  object
 21  otherCatalogNumbers    318831 non-null  object
 22  fieldNumber            313172 non-null  object
 23  ownerInstitutionCode   388064 non-null  object
 24  materialSampleID       388090 non-null  object
 25  class                  387697 non-null  object
 26  classID                387697 non-null  object
 27  family                 309486 non-null  object
 28  familyID               309486 non-null  object
 29  genus                  194211 non-null  object
 30  genusID                194211 non-null  object
 31  identifiedBy           256458 non-null  object
 32  order                  383157 non-null  object
 33  orderID                383157 non-null  object
 34  phylum                 388090 non-null  object
 35  phylumID               388090 non-null  object
 36  species                164182 non-null  object
 37  speciesID              164182 non-null  object
 38  subspecies             818 non-null     object
 39  subspeciesID           818 non-null     object
 40  scientificName         164182 non-null  object
 41  associatedSequences    388090 non-null  object
 42  associatedMedia        388090 non-null  object
 43  bold_tracefiles_read   388090 non-null  object
dtypes: object(44)
memory usage: 133.2+ MB

In [125]:
# save to CSV file
df.to_csv(f"/data/arga-data/bold_australia_{taxon}_data.csv", index=False)