## Notebook to parse the EMBL vertebrate genome data (JSON)

Pre-downloaded from from https://ftp.ensembl.org/pub/release-106/species_metadata_EnsemblVertebrates.json and saved to `../data/` directory.

In [8]:
import ijson

entries = []

with open("../data/species_metadata_EnsemblVertebrates.json", "rb") as f:
    for record in ijson.items(f, "item"): # "item" is top level object in JSON array
        rec = {}
        rec["emsembl_division"] = record["division"]
        rec["genebuild"] = record["genebuild"]
        rec["scientificName"] = record["organism"]["scientific_name"]
        rec["vernacularName"] = record["organism"]["display_name"]
        rec["taxonID"] = record["organism"]["taxonomy_id"]
        rec["ensembl_assembly_accession"] = record["assembly"]["assembly_accession"]
        rec["ensembl_assembly_level"] = record["assembly"]["assembly_level"]
        rec["emsembl_assembly_name"] = record["assembly"]["assembly_name"]
        rec["emsembl_assembly_base_count"] = record["assembly"]["base_count"]
        rec["emsembl_assembly_release_date"] = record["data_release"]["release_date"]

        entries.append(rec)
        
print("record count =", len(entries))

record count = 311

In [9]:
import pandas as pd

df = pd.DataFrame(data=entries)
df.head()

,emsembl_division,genebuild,scientificName,vernacularName,taxonID,ensembl_assembly_accession,ensembl_assembly_level,emsembl_assembly_name,emsembl_assembly_base_count,emsembl_assembly_release_date
0,EnsemblVertebrates,2018-05-Ensembl/2020-03,Acanthochromis polyacanthus,Spiny chromis,80966,GCA_002109545.1,primary_assembly,ASM210954v1,991584656,2022-01-12
1,EnsemblVertebrates,2019-07-Ensembl/2019-09,Accipiter nisus,Eurasian sparrowhawk,211598,GCA_004320145.1,primary_assembly,Accipiter_nisus_ver1.0,1190649881,2022-01-12
2,EnsemblVertebrates,2020-05-Ensembl/2020-06,Ailuropoda melanoleuca,Giant panda,9646,GCA_002007445.2,primary_assembly,ASM200744v2,2444060653,2022-01-12
3,EnsemblVertebrates,2019-07-Ensembl/2019-09,Amazona collaria,Yellow-billed parrot,241587,GCA_003947215.1,primary_assembly,ASM394721v1,1258720284,2022-01-12
4,EnsemblVertebrates,2018-05-Ensembl/2018-07,Amphilophus citrinellus,Midas cichlid,61819,GCA_000751415.1,primary_assembly,Midas_v5,844902565,2022-01-12

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   emsembl_division               311 non-null    object
 1   genebuild                      311 non-null    object
 2   scientificName                 311 non-null    object
 3   vernacularName                 311 non-null    object
 4   taxonID                        311 non-null    int64
 5   ensembl_assembly_accession     297 non-null    object
 6   ensembl_assembly_level         311 non-null    object
 7   emsembl_assembly_name          311 non-null    object
 8   emsembl_assembly_base_count    311 non-null    int64
 9   emsembl_assembly_release_date  311 non-null    object
dtypes: int64(2), object(8)
memory usage: 24.4+ KB