## Notebook to parse the EMBL vertebrate genome data in JSON from https://ftp.ensembl.org/pub/release-106/species_metadata_EnsemblVertebrates.json

In [4]:
import ijson

entries = []

with open("../data/species_metadata_EnsemblVertebrates.json", "rb") as f:
    for record in ijson.items(f, "item"): # "item" is top level object in JSON array
        rec = {}
        rec["emsembl_division"] = record["division"]
        rec["genebuild"] = record["genebuild"]
        rec["scientificName"] = record["organism"]["scientific_name"]
        rec["vernacularName"] = record["organism"]["display_name"]
        rec["taxonID"] = record["organism"]["taxonomy_id"]
        rec["ensembl_assembly_accession"] = record["assembly"]["assembly_accession"]
        rec["ensembl_assembly_level"] = record["assembly"]["assembly_level"]
        rec["emsembl_assembly_name"] = record["assembly"]["assembly_name"]
        rec["emsembl_assembly_base_count"] = record["assembly"]["base_count"]
        rec["emsembl_assembly_release_date"] = record["data_release"]["release_date"]

        entries.append(rec)
        
print("record count =", len(entries))

record count = <built-in method count of list object at 0x10f2cad00>

In [7]:
import pandas as pd

df = pd.DataFrame(data=entries)
df.head()

record count = 311

     emsembl_division               scientificName  taxonID
0  EnsemblVertebrates  Acanthochromis polyacanthus    80966
1  EnsemblVertebrates              Accipiter nisus   211598
2  EnsemblVertebrates       Ailuropoda melanoleuca     9646
3  EnsemblVertebrates             Amazona collaria   241587
4  EnsemblVertebrates      Amphilophus citrinellus    61819